body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    text-align: center; 
}

nav {
    width: 100%; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.submenu {
    position: relative; 
}

.submenu-items {
    display: none; /* Oculta el submenú */
    position: absolute;
    top: 100%; /* Alinea el submenú justo debajo del botón principal */
    left: 0;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una pequeña sombra */
    border-radius: 8px;
    z-index: 1000;
}

.submenu-items li {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}

.submenu-items li a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

/* Muestra el submenú cuando se hace hover sobre el botón principal */
.submenu:hover .submenu-items {
    display: block;
}

/* Opcional: Estilos en hover para los enlaces del submenú */
.submenu-items li a:hover {
    color: #800000; 
}

.botonesnav{
    padding-top: 15px;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    height: 20px;
    color: black;
    margin: 10px;
}

.botonesnav {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

.botonesnav a:hover {
    color: #800000; 
}
.botonesnav a.active {
    background-color: #800000; 
    color: white; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 40px;
}

main {
    padding-bottom: 20px;
    margin: 0; 
}


.button-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    z-index: 2;
}




button {
    padding: 10px 20px;
    background-color: #EAE5DF; 
    border: none;
    border-radius: 25px; 
    color: #800000; 
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.2s;
    z-index: 2;
}

button:hover {
    background-color: #EAE5DF; 
    color: #e41919;
    box-shadow: black 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #800000;
    color: white;
}

.imagen-inicial img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-width: 17000px; 
    height: auto; 
}

.texto-principal {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.texto-principal h1 {
    font-size: 36px;
    color: #800000;
}

.texto-principal p {
    font-size: 24px;
}

.contenedor-eventos {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #fff;
}

.texto-izquierda,
.texto-derecha {
    width: 45%;
    background-color: #eaeaea;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.texto-izquierda ol {
    list-style-type: none;
    text-align: center;
}

.texto-derecha ul {
    list-style-type: none;
    text-align: center;
}

h2 {
    color: #861d22;
    text-align: center;
}

.contenedor-como-unirse {
    display: flex;
    justify-content: center; /* Distribuye el contenido a los lados */
    align-items: center; /* Alinea verticalmente al centro */
    padding: 50px 20px;
    background-color: #fff;
}


.como-unirse {
    font-size: 19px;
    width: 40%; /* Ocupa el 50% de la pantalla a la izquierda */
    color: #fff;
    background-color: #861d22;
    padding: 50px 50px;
    text-align: center;
}

.imagen-unirse {
    width: 45%; /* Ocupa el 50% de la pantalla a la derecha */
    text-align: right;
}

.imagen-unirse img {
    max-width: 80%; /* Asegura que la imagen ocupe el 100% de su contenedor */
    height: auto;

}

a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    text-decoration:underline;
}