body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    text-align: center;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.botonesnav {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    margin: 10px;
}

.botonesnav a:hover {
    background-color: #ddd;
    color: #800000;
}

.botonesnav a.active {
    background-color: #800000;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.logo img {
    height: 40px;
}

.HomeImagen {
    position: relative;
    height: 100vh;
    background-image: url("Imágenes/FotoHome.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-home {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.titulo-home {
    margin-left: 20px;
    font-size: 100px;
    color: #861d22;
}

.titulo-home:hover {
    color: white;
}

.Bienvenida {
    width: 100%;
    height: auto; /* Ajusta según tus necesidades */
    padding: 0;
    margin: 0;
    position: relative;
}

.bloque {
    background-color: #861d22;
    height: 20vh;
    width: 100%;
    position: relative; 
    z-index: 1;
}

.texto-bienvenida {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: none;
    position: relative; 
    z-index: 2;
    margin: 0;
    box-sizing: border-box;
    height: 200px;
}

.texto-bienvenida img {
    max-width: 250px;
    max-height: 250px;
    margin-left: 20px;
}

.texto-bienvenida p {
    margin: 0;
    padding-right: 20px;
}

.ImagenHome {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.ImagenHome img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.imagen-completa {
    width: 50%;
    height: auto;
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #EAE5DF;
    border: none;
    border-radius: 25px;
    color: #800000;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
    z-index: 2;
}

    