/* Restablecer márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* Evitar desplazamiento */
    background-color: #f5f5f5;
}
header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    text-align: center; 
}

nav {
    width: 100%; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.submenu {
    position: relative; 
}

.submenu-items {
    display: none; /* Oculta el submenú */
    position: absolute;
    top: 100%; /* Alinea el submenú justo debajo del botón principal */
    left: 0;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una pequeña sombra */
    border-radius: 8px;
    z-index: 1000;
}

.submenu-items li {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}

.submenu-items li a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

/* Muestra el submenú cuando se hace hover sobre el botón principal */
.submenu:hover .submenu-items {
    display: block;
}

/* Opcional: Estilos en hover para los enlaces del submenú */
.submenu-items li a:hover {
    color: #800000; 
}

.botonesnav{
    padding-top: 15px;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    height: 20px;
    color: black;
    margin: 10px;
}

.botonesnav {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

.botonesnav a:hover {
    color: #800000; 
}
.botonesnav a.active {
    background-color: #800000; 
    color: white; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 40px;
}

main {
    padding-bottom: 20px;
    margin: 0; 
}


.button-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    z-index: 2;
}




button {
    padding: 10px 20px;
    background-color: #EAE5DF; 
    border: none;
    border-radius: 25px; 
    color: #800000; 
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.2s;
    z-index: 2;
}

button:hover {
    background-color: #EAE5DF; 
    color: #e41919;
    box-shadow: black 10px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.form-container {
    flex: 1;
    padding: 50px;
    background-color: #f9f5f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-container h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    color: #800000;
    margin-bottom: 20px;
}

.form-container form {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #800000;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #800000;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #800000;
    font-weight: bold;
}

.password-requirements {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 20px;
}

.password-requirements li {
    color: #800000;
}

.password-requirements li.valid {
    color: green;
}

.password-requirements li.invalid {
    color: red;
}

.register-button {
    font-family: 'Playfair Display', sans-serif;
    padding: 15px 30px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.register-button:hover {
    background-color: #b30000;
}

.login-prompt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.login-prompt a {
    font-family: 'Open Sans', sans-serif;
    color: #800000;
    text-decoration: none;
    font-weight: bold;
}

.image-container {
    height: 700px;
    flex: 1;
    background-image: url('Imágenes/registro-fondo.jpg');
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #800000;
    color: white;
}