/* Ajustes generales */
body {
    font-family: 'Playfair Display', serif;
}

main {
    padding: 20px;
    margin: 0 auto;
}

#lista {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.receta {
    width: 100%; /* Full width en pantallas pequeñas */
    max-width: 400px; /* Limitamos el ancho máximo */
    margin: 10px;
    padding: 10px;
    border-style: solid;
    background-color: #861D22;
    color: white;
    box-sizing: border-box;
}

.foto {
    width: 100%; /* Hacemos que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Ajustes responsivos */
@media (min-width: 600px) {
    .receta {
        width: 45%; /* 2 recetas por fila en pantallas medianas */
    }
}

@media (min-width: 900px) {
    .receta {
        width: 30%; /* 3 recetas por fila en pantallas grandes */
    }
}
