html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-bottom: 20px;
    margin-left: 200px;
}

#lista {
    width: 80%;
    height: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.boton {
    background-color: #EAE5DF;
    color: #861D22;
    width: 130px;
    height: 50px;
    list-style: none;
    padding: 8px;
    border-radius: 25px;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #EAE5DF;
    border: none;
    border-radius: 25px;
    color: #800000;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #EAE5DF;
    color: #e41919;
    box-shadow: black 10px;
}

#paso-imagen {
    transition: transform 0.5s ease;
}

#paso-imagen.zoomed {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #800000;
    color: white;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box; 
}

a {
    text-decoration: none;
}

